*, 
*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #363636;
}

body{
  background-color: #ededed;
  /* centering elements */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* NOTE: Specify height to center properly */
}


.interface-container{
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title-container{
  flex-basis: 100%;
  /* flex shorthand for grow, shrink, basis */
  text-align: center;
  margin-bottom:2em;
}
.grid-container{
    /* size of the container */
    height: 520px;
    width: 520px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    
    /* displaying grid items */
    display: grid;
}


/* center */
.center{
  text-align: center;
  font-size: 1em;
}

/* styling the slider */
.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    border-radius: 5px;  
    /* background: #d3d3d3; */
    outline: 1px solid #363636;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #363636;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;  /*#04AA6D; */
    cursor: pointer;
  }

/* ui-container */
.ui-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
  /* buttons */
  .btn{
    width: 200px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    padding: 0.5em;
    background-color: transparent;
    
  }

  .active{
    background-color: #363636;
    color: white;
  }

  input{
    outline: none;
  }

  /* color pickers */
  .color-pickers{
    display: flex;
    gap: 2em;
  }
  .picker{
    -webkit-appearance: none;
    height: 80px;
    width: 80px;
    border: none;
    outline: none;
    background-color: transparent;
  }
 

  .picker:hover, .btn:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
  }
  input[type = color]::-webkit-color-swatch{
    -webkit-appearance: none;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border: none;
  }

  input[type = color]::-webkit-color-swatch-wrapper{
    padding: 0;
  }

  /* Footer */
footer{
position: absolute;
padding: 1em;
bottom: 0;
left: 0;
width: 100%;
text-align: center;
}
  /* MEDIA QUERIES */

  @media(max-width: 768px){
    body{
      display: block ;
      /* height: auto; */
    }
    .main-container{
       height: auto;
       margin-top: 3em;
       
    }

    .interface-container{
      flex-direction: column-reverse;
      /* padding-bottom: 3em; */
    }


    footer{
    position: unset;
    /* margin-top: 30vh; */
     margin-top: 1.5em;
    }

  }

  @media(max-width: 425px){  
    /* adjust size of grid cont*/
    .grid-container{
      height: 300px;
      width: 300px;
  }

  footer{
    position: unset;     
    }
}