*, 
*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #363636;
}

body{
   background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

  
}
.main-container{
  /* position: absolute;
  top: 40%;
  left: 30%; */
 /* height: 100vh; */
 /* margin-top: 10vh; */
}

.interface-container{
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title-container{
  flex-basis: 100%;
  /* flex shorthand for grow, shrink, basis */
  text-align: center;
  margin-bottom:2em;
}
.grid-container{
    /* centering the container
    margin: 0 auto; */

    /* size of the container */
    height: 520px;
    width: 520px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    
    /* displaying grid items */
    display: grid;
    /* grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto); */
}
/* center */
.center{
  text-align: center;
  font-size: 1em;
}
/* styling the slider */
.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    border-radius: 5px;  
    /* background: #d3d3d3; */
    outline: 1px solid #363636;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #363636;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;  /*#04AA6D; */
    cursor: pointer;
  }

/* ui-container */
.ui-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
  /* buttons */
  .btn{
    width: 200px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    padding: 0.5em;
    background-color: transparent;
    
  }

  .active{
    background-color: #363636;
    color: white;
  }

  input{
    outline: none;
  }

  /* color pickers */
  .color-pickers{
    display: flex;
    gap: 2em;
  }
  .picker{
    -webkit-appearance: none;
    height: 80px;
    width: 80px;
    border: none;
    outline: none;
    background-color: transparent;
  }
 

  .picker:hover, .btn:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
  }
  input[type = color]::-webkit-color-swatch{
    -webkit-appearance: none;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border: none;
  }

  input[type = color]::-webkit-color-swatch-wrapper{
    padding: 0;
  }

  /* MEDIA QUERIES */


  /* adjust size of grid-cont based on screen */
  @media (max-width: 1200px){

  }

  @media (max-width: 850px){
    
  }

  @media(max-width: 768px){
    .main-container{
       height: 100vh;
       padding-top: 3em;
    }

    .interface-container{
      flex-direction: column-reverse;
    }

  }

  @media(max-width: 425px){
    /* switching elements */
    

    /* center elements */
    
    /* adjust size of grid cont*/
    .grid-container{
      /* margin: 0 0 2em 0; */
      height: 300px;
      width: 300px;
    
  }
}